<html lang="en">
<%- include('./partials/header')%>
<body class="orange lighten-5">
  <%- include('./partials/navbar') %>

  <div class="row"></div>
  <div class="row">
      <div class="col s7"></div>
      <div class="col"><img src="<%= flagLink %>" alt="" class="sr" width="100"></div>
  </div>
  <div class="row">
    <div class="col s4"></div>
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">New Person</span>
            <form action="/add-listings" method="POST">
            <input placeholder="Full Name" id="full_name" type="text" name="full_name" class="validate" required>
            <input readonly value="<%= nationality %>" id="nationality" type="text" name="nationality" class="validate">
            <input placeholder="Birthdate" id="birthdate" type="text" name="birthdate" class="validate" required>
        </div>
        <div class="card-action">
            <div class="col s10"></div>
            <button class="btn waves-effect waves-light" type="submit">Save</button>
        </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer') %>
</body>
</html>